@{
    ViewBag.Title = "About";
}

<style>
    .col-lg-6 {
        border:1px solid red;
    }

    .publication-hidden { display: none; }
    .publication-visible { display: block; }
</style>

<div class="col-sm-8 publications-detail-links">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="8231e51a-3d8b-46f4-a8ad-95ee2a7b810d">
        <a href="/help/publications/boosting-income" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a030-benefits_750x450.png" title="Boosting your income">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Boosting your income </h3>
                <div class="promo__text">Accessing benefits, help with housing and transport, and paying for aids and adaptations</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="8231e51a-3d8b-46f4-a8ad-95ee2a7b810d">
        <a href="/help/publications/planning-ahead" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a027-planning-ahead-750_450.png" title="Planning ahead">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Planning ahead </h3>
                <div class="promo__text">Making decisions about future care, making a Will and setting up a power of attorney</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="8231e51a-3d8b-46f4-a8ad-95ee2a7b810d">
        <a href="/help/publications/understanding-tax" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a033-understanding-tax_750_450.png" title="Understanding tax">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Understanding tax </h3>
                <div class="promo__text">Handling tax affairs, including savings, trusts and inheritance</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="8231e51a-3d8b-46f4-a8ad-95ee2a7b810d">
        <a href="/help/publications/understanding-insurance" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a032-insurance_750_450.png" title="Understanding insurance">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Understanding insurance </h3>
                <div class="promo__text">Types of insurance available, how they work, transferring policies and making a claim</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="8231e51a-3d8b-46f4-a8ad-95ee2a7b810d">
        <a href="/help/publications/understanding-pensions" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a031-pension-planning_750_450.png" title="Understanding pensions">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Understanding pensions </h3>
                <div class="promo__text">What schemes are available, accessing money early and inheriting a pension</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-visible" data-page-guid="9de976d3-ffe3-42e8-9029-1747b72de6ea">
        <a href="/help/publications/cared-for-at-home" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a124-being-cared-for-at-home_750_450.png" title="Being cared for at home">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Being cared for at home </h3>
                <div class="promo__text">Planning care at home, professionals who can help and practical matters</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-visible" data-page-guid="9de976d3-ffe3-42e8-9029-1747b72de6ea">
        <a href="/help/publications/breathing-easier" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a023_breathling-easier_750_450.png" title="Breathing easier">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Breathing easier </h3>
                <div class="promo__text">Information about managing breathlessness and breathing difficulties</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-visible" data-page-guid="9de976d3-ffe3-42e8-9029-1747b72de6ea">
        <a href="/help/publications/boosting-energy" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a021_boosting-your-energy_750x450.png" title="Boosting your energy">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Boosting your energy </h3>
                <div class="promo__text">Information about managing weakness and fatigue</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-visible" data-page-guid="9de976d3-ffe3-42e8-9029-1747b72de6ea">
        <a href="/help/publications/controlling-pain" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a020_controlling-pain-750x450.png" title="Controlling pain">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Controlling pain </h3>
                <div class="promo__text">How pain can be managed and treated effectively</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="9de976d3-ffe3-42e8-9029-1747b72de6ea">
        <a href="/help/publications/keeping-active" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a022_keeping-active_750_450.png" title="Keeping active">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Keeping active </h3>
                <div class="promo__text">Types of exercise, why it’s important, how much is needed and exercising safely</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-visible" data-page-guid="9de976d3-ffe3-42e8-9029-1747b72de6ea">
        <a href="/help/publications/living-terminal-illness" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a028-living-with-a-terminal-illness_750_450.png" title="Living with a terminal illness">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Living with a terminal illness </h3>
                <div class="promo__text">Coping with change, understanding your feelings, taking care of yourself and accessing support</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="c57fdbd6-e39c-4e5e-bb61-9d86d55bca91">
        <a href="/help/publications/end-of-life-guide" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/end-of-life-guide_750x450.png" title="End of life: a guide">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> End of life: a guide </h3>
                <div class="promo__text">A booklet for people in the final stages of life, and their carers</div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 publication-hidden" data-page-guid="aba0aff9-2f36-43c0-81b2-99b0abedda6f">
        <a href="/help/publications/being-there" class="promo promo--default wobbly-overlay touch-replacement">
            <div class="promo__media  wobbly-overlay ">
                <img class="img-responsive" src="/globalassets/media/images/how-we-can-help/publications/a029-being-there_750_450.png" title="Being there for someone with a terminal illness">
            </div>
            <div class="promo__body ">
                <h3 class="promo__title"> Being there for someone with a terminal illness </h3>
                <div class="promo__text">Becoming a carer, help from professionals, financial support, understanding your feelings and looking after yourself</div>
            </div>
        </a>
    </div>

</div>

<script>
    //$(".publications-detail-links").find(".publication-visible").each(function (i) {
    //    if (i % 2 == 0 && i != 0) {
    //        $(this).css("clear", "both");
    //    }
    //});
    $(".publications-detail-links .publication-visible").each(function (i) {
        if (i % 2 === 0 && i !== 0) {
            $(this).css("clear", "both");
        }
    });
</script>
